[2017-10-09 14:00] food4fort opened #2 "Xcode"
Hi kozyilmaz,
Thanks so much for zcash-apple! Seems to be dependent on having Xcode installed. Might be worth mentioning in the dependencies :)
Cheers, Tom

[2017-10-09 14:36] kozyilmaz commented on #2
Indeed, https://github.com/kozyilmaz/zcash-apple/commit/11871d20ed74821f3b49bfd1470a3ecfdaad724a fixes that.
Thanks for the heads up!

[2017-10-09 14:41] #2 closed, assigned to nobody

[2017-10-12 04:31] minecoins opened #3 "build failed"
Unable to build on Sierra 10.12.6:
...
  CLONE      coreutils
  CONFIG     coreutils
  BUILD      coreutils
  INSTALL    coreutils
  CLONE      gmp
  CONFIG     gmp
  BUILD      gmp
  INSTALL    gmp
  CLONE      mpfr
  CONFIG     mpfr
  BUILD      mpfr
  INSTALL    mpfr
  CLONE      mpc
  CONFIG     mpc
  BUILD      mpc
  INSTALL    mpc
  CLONE      isl
  CONFIG     isl
  BUILD      isl
  INSTALL

[2017-10-12 05:10] kozyilmaz commented on #3
@minecoins Can you run one more time with the command below:
[code]

[2017-10-12 06:57] minecoins commented on #3
+ '[' x--disable-libs = x--disable-libs ']'
+ LIBS_ARG=--without-libs
+ shift
++ pwd
+ PREFIX=/Users/user/git/zcash-apple/zcash/zcash_v1.0.12/depends/x86_64-apple-darwin16.7.0/
+ eval make --version
++ make --version
GNU Make 3.81
Copyright (C) 2006  Free Software Foundation, Inc.
This is free software; see the source for copying conditions.
There is NO warranty; not even for MERCHANTABILITY or FI

[2017-10-12 19:17] kozyilmaz commented on #3
@minecoins I am not sure but I guess "/Users/user/Applications/Sublime Text.app" is causing trouble because of the "space" in the install path.
Is it possible for you to remove "Sublime Text" from PKG_CONFIG_PATH just for testing. Or uninstall it just to try?

I'll also try to reproduce it but I may be unreachable for a couple days.

[2017-10-13 12:29] minecoins commented on #3
ok, you are right. works by now.

[2017-11-22 11:51] kozyilmaz commented on #3
Proposed a patch: https://github.com/zcash/zcash/pull/2700

[2017-12-16 15:34] kozyilmaz commented on #3
fixed, upstreamed via https://github.com/zcash/zcash/commit/c720d15c4516012f038d95b9d56cd6c720ad2f20

[2017-12-16 15:34] #3 closed, assigned to nobody

[2017-12-19 15:01] hoffmabc opened #4 "Build Failing"
I've followed the README and receive this error:

[code]

[2017-12-19 15:03] kozyilmaz commented on #4
@hoffmabc can you try with debug enabled?
`$ PRINT_DEBUG=y make all`

[2017-12-19 15:06] hoffmabc commented on #4
Relevant error part

[code]

[2017-12-19 15:09] hoffmabc commented on #4
Is it because I'm using clang instead of gcc?

[2017-12-19 15:12] kozyilmaz commented on #4
no, I just made a clean Zcash build myself and these are just the tools so they should get built using native clang. Do you have brew installed?

Can you also paste:
[code]

[2017-12-19 15:13] hoffmabc commented on #4
[code]

[2017-12-19 15:17] kozyilmaz commented on #4
It seems you are using brew's gcc-7.2.0 to build, overridden macOS's native clang. Possibly a libiconv dependency sneaked in because of this. Let me look into it.

[2017-12-19 15:19] hoffmabc commented on #4
ok thanks

[2017-12-19 15:24] kozyilmaz commented on #4
sorry, can you please paste the output of this too?
`$ cat tools/pkgconfig/pkg-config-0.29.2/glib/config.h | grep ICONV`

[2017-12-19 15:28] hoffmabc commented on #4
[code]

[2017-12-19 15:50] hoffmabc commented on #4
Ok I had macports installed. Once I removed it I was able to build properly.

[code]

[2017-12-19 15:50] #4 closed, assigned to nobody

[2017-12-19 15:50] kozyilmaz commented on #4
Can you copy this patch [pkgconfig.patch.txt](https://github.com/kozyilmaz/zcash-apple/files/1572223/pkgconfig.patch.txt) to zcash-apple directory and execute commands below.
Thanks for the help!

[code]

[2017-12-19 15:50] kozyilmaz commented on #4
@hoffmabc ah I missed it!

[2017-12-25 21:11] 0wnrepo opened #5 "Feature: run the client in menubar"
Would be lovely to see it only in the menu bar.
Should I start modifying the interface to support this? (didn't inspect the code yet)

Regards

[2017-12-26 19:59] kozyilmaz commented on #5
Hi @0wnrepo, please feel free! I was busy keeping up with upstream Zcash changes, I guess it is really close to to official clang and macOS.

If you plan to do it, I guess you should to externally manage `zcashd` daemon (exec() etc.) and implement any functionality using RPC interface. I highly recommend checking Vaklinov's wallet implementation. Long story short you can use the products of this r

[2017-12-31 18:25] pandaiolo opened #6 "Cannot build (solved)"
I could not make it build unless I installed XCode CLI tools by typing:

`xcode-select --install`

After that, it would build with no issue.

Would be a nice addition to the readme :)

Thank for your work on making zcash more available to mac users!

[2018-01-02 08:51] kozyilmaz commented on #6
Thanks for the heads up @pandaiolo :)
Updated README accordingly with this commit https://github.com/kozyilmaz/zcash-apple/commit/0874c35f22af9424c515484b25d2499cc6db352e

[2018-01-03 21:57] #6 closed, assigned to nobody

[2018-01-09 16:27] rex4539 opened #7 "Build fails on Mac OS X 10.11"
Error is when building zcash. Tools are building fine.

[code]

It builds fine on my High Sierra machine but getting this error under El Capitan.

[2018-01-10 15:51] kozyilmaz commented on #7
@rex4539 Thanks for the report! I'll create a release for official 1.0.14 in couple days and will try to include a solution for this too. I'll ping this issue as soon as I sync up with current release.

[2018-01-10 15:52] rex4539 commented on #7
By the way, I was building from master.

So if you commit a fix, I can test immediately from master.

[2018-01-10 15:53] kozyilmaz commented on #7
got it!

[2018-01-11 13:40] lindanlee opened #8 "Failed to build"
I've followed the README and I received this error. Help?

[code]

[2018-01-11 14:49] kozyilmaz commented on #8
@lindanlee ~Are you using El Capitan like the previous report by any chance?~

[2018-01-11 15:06] lindanlee commented on #8
@kozyilmaz, I'm using High Sierra.

[2018-01-11 16:50] kozyilmaz commented on #8
Can you please send me the outputs of these two commands below
`$ cat zcash/zcash_master/config.log |grep enable-werror`
`$ cat zcash/zcash_master/config.log |grep Werror`

Can you try with master again? I guess a simple `git pull` will do. Following commits (https://github.com/kozyilmaz/zcash-apple/commit/00260cf22b342dbf6de0f9fd9cbebd1e88b95ae7 and https://github.com/kozyilmaz/zcash-apple/commit

[2018-01-11 16:51] kozyilmaz commented on #7
Can you please send me the outputs of these two commands below
`$ cat zcash/zcash_master/config.log |grep enable-werror`
`$ cat zcash/zcash_master/config.log |grep Werror`

Can you try with master again? I guess a simple `git pull` will do. Following commits (https://github.com/kozyilmaz/zcash-apple/commit/00260cf22b342dbf6de0f9fd9cbebd1e88b95ae7 and https://github.com/kozyilmaz/zcash-apple/commit

[2018-01-11 16:57] lindanlee commented on #8
@kozyilmaz, thanks for the help.

the output for `$ cat zcash/zcash_master/config.log |grep enable-werror` is :

[code]
the output for `$ cat zcash/zcash_master/config.log |grep Werror` is :

[code]

As you instructed, I ran the following commands afterwards in the `zcash-apple` directory:
`git pull`
`source environment`
`PRINT_DEBUG=y make all`

I get the following error:

[code]

[2018-01-11 17:01] kozyilmaz commented on #7
@rex4539 Btw I have another report of the same build error on High Sierra, are you certain that you have no build issues on your High Sierra setup.

[2018-01-11 17:02] rex4539 commented on #7
@kozyilmaz Absolutely. High Sierra builds fine here :)

[2018-01-11 17:03] kozyilmaz commented on #8
oh please execute this command in zcash directory
`$ cd zcash`
`$ rm -rf .cloned .configured .patched zcash-master`

then build all

[2018-01-11 17:04] kozyilmaz commented on #7
@rex4539 Interesting, does the two machine have any difference in terms of installed packages (I mean brew or macports)

[2018-01-11 17:05] rex4539 commented on #7
I had to uninstall MacPorts from both machines, as it kept failing with that.

No Brew installed either.

[2018-01-11 17:08] rex4539 commented on #7
Here is output before latest git changes.

[code]

[2018-01-11 17:11] kozyilmaz commented on #7
@rex4539 thanks a lot, may I have one last request
[code]
from the failing machine

[2018-01-11 17:12] kozyilmaz commented on #7
oh this is it `-Wno-undefined-var-template`

[2018-01-11 17:17] rex4539 commented on #7
Did git pull now and building from scratch.

Hold on, will take a while. That machine is slow :)

Will report back.

[2018-01-11 17:18] lindanlee commented on #8
I executed:
`$ cd zcash`
`$ rm -rf .cloned .configured .patched zcash-master `

And tried to make again by:
`source environment `
`PRINT_DEBUG=y make all`

It's been building for a while! I'm hopeful... I'll let you know soon.

[2018-01-11 17:24] kozyilmaz commented on #7
My last commit was wrong now I see the correct fix :)
Can you try once more after I fix the master?
Thank you very much anyways :)

[2018-01-11 17:26] kozyilmaz commented on #8
Yes it probably will but it was not the correct fix :)
I'll commit another patch to fix it for good

Anyway your built binaries will be fine even with current master so no worries

[2018-01-11 17:27] rex4539 commented on #7
Ah, ok. Will stop the build then. Waiting :)

[2018-01-11 17:46] lindanlee commented on #8
Sad! It was building for 25+ minutes or so, and then failed. :(

Do you know what could cause this?

[code]

[2018-01-11 18:07] kozyilmaz commented on #7
@rex4539 sorry for the trouble, pushed a proper fix to master https://github.com/kozyilmaz/zcash-apple/commit/15e7d434b4b8b9b5c5d972c8502a846476ca4d5a I'll appreciate if you try it!
Thanks for your help!

[2018-01-11 18:11] kozyilmaz commented on #8
Hmm @lindanlee I'll fixed the previous issue properly and pushed it to master.

The last one however is really weird. Do you have macports or brew installed (although very unlikely to be the source of such an issue)?

I'll appreciate a clean build (I mean even clone from scratch) with logs (only Zcash will do). Sorry for the trouble and thanks for your patience.

[2018-01-11 18:18] rex4539 commented on #7
Building. Will get back to you ASAP.

[2018-01-11 18:22] lindanlee commented on #8
@kozyilmaz, thank you so much for the continued assistance.

I do have macports and brew installed, if that makes a difference. I'll try the process from the top following the instructions from https://github.com/kozyilmaz/zcash-apple  in a new directory.

[2018-01-11 18:26] kozyilmaz commented on #8
Unfortunately macports and brew cause too much trouble, I'll try to limit the interference but sometimes it is impossible. If both are present can you also post the results of the following commands too?
[code]

Thanks again!

[2018-01-11 18:31] lindanlee commented on #8
I made another directory, and ran the following commands:

[code]

It's still building--I'll let you know if it succeeds.

In another tab, in the `zcash-apple` directory I am building in,, I ran the commands you suggested:

for `gcc -v`:
[code]

for `g++ -v`:
[code]

for `clang -v`:
[code]

for `which autoconf`:
/Users/lindanaeunlee/Desktop/zcash-apple-attempt-2/zcash-apple/tools/o/bin/autoconf

f

[2018-01-11 18:51] kozyilmaz commented on #8
No worries, it is fine. If you would have run `source environment` in zcash-apple directory first, autoconf/automake commands will return correctly but again, it is just fine.

[2018-01-11 19:03] lindanlee commented on #8
@kozyilmaz, I updated the results above by running the command after running `source environment`.

The build failed again:

[code]

I pulled after the build and confirmed that it was up to date.

Hmm, do you have additional ideas of what I should do? Or do you have an idea of what could be causing this?

[2018-01-11 19:12] kozyilmaz commented on #8
can you please paste (or copy to a text file and attach) the complete Zcash build log?

[2018-01-11 19:37] lindanlee commented on #8
It's so long that it was truncated in my terminal, but here's the last bit of it.

[terminal-build-output.txt](https://github.com/kozyilmaz/zcash-apple/files/1623834/terminal-build-output.txt)

[2018-01-11 19:54] kozyilmaz commented on #8
@lindanlee There are a lot of errors present (see log below) but I know for certain that it is not possible to build Zcash with earlier `clang` versions like yours. Latest `clang` that came with Xcode 9 fixed the template related issues and after this commit https://github.com/kozyilmaz/zcash-apple/commit/3613b572f75fa82394cff4962559ff5df2f0d920 on December 1st it was possible to build natively wi

[2018-01-11 20:01] lindanlee commented on #8
@kozyilmaz, thanks. I've updated:

[code]

I'll restart my computer and try building again in a new directory.

[2018-01-11 20:03] kozyilmaz commented on #8
Great! Hopefully this time. Can you please paste `$ gcc -v` output to make sure?

[2018-01-11 20:18] lindanlee commented on #8
I restarted my

Here's the `gcc -v` output:

[code]

It doesn't look like the anything changed. But now, if I try to upgrade, there are no upgrades.

[code]

This is strange.

[2018-01-11 20:22] rex4539 commented on #7
So my slow machine just failed but with new error now.

[code]

[config.log](https://github.com/kozyilmaz/zcash-apple/files/1624005/config.log)

[2018-01-11 20:24] kozyilmaz commented on #8
Strange indeed, do you have an Xcode installation? Checked mine and Xcode version is "Version 9.2 (9C40b)"

[2018-01-11 20:30] kozyilmaz commented on #7
@rex4539 Damn it, converting compiler from `gcc` to `clang` made a total mess! libsnark needs a very recent `clang` (Xcode 9 utils). What is `$ gcc -v`, are you able to install the latest Xcode to that machine?

I really appreciate your help @rex4539, thanks again for your patience!

[2018-01-11 20:31] lindanlee commented on #8
I thought I downloaded all the updates in the command line, but when I check the app on my computer, it's quite old, 8.2.1. I'll try to update the app and try again.

[2018-01-11 20:51] rex4539 commented on #7
@kozyilmaz

[code]

Xcode 8.2.1 (8C1002)

I tried to install Xcode 9 from App Store but it's not compatible.

Not sure if some intermediate version works.

[2018-01-11 21:17] kozyilmaz commented on #7
@rex4539 I see. I think I should bring back `gcc`support for earlier macOS releases.

[Apple Documentation](https://developer.apple.com/library/content/releasenotes/DeveloperTools/RN-Xcode/Chapters/Introduction.html) states that Xcode 9 requires a Mac running macOS 10.12.6 or later. So for earlier macOS versions I should detect and enable `gcc`, otherwise make Xcode 9 `clang` mandatory.

Sorry for

[2018-01-11 21:20] rex4539 commented on #7
I like to be on the edge :)

No worries about step-by-step procedure. I love this. I'm QA.

[2018-01-11 22:43] lindanlee commented on #8
I've updated xcode; I'll try building later tonight. If it doesn't work, I'll try on another computer (I just got a new macbook, so it'll be a couple days until I set it up/try again).

Thanks for so much of your help!

[2018-01-11 22:43] lindanlee commented on #8
I'll update you on if that works, when I do it. :)

[2018-01-11 23:52] kozyilmaz commented on #8
Sure, please do. Sorry for the trouble!

[2018-01-15 15:10] lindanlee commented on #8
I tried it after updating xcode, I got it to work on my old computer. :) Thanks for all the help!

![image](https://user-images.githubusercontent.com/6580269/34948818-da77d030-f9d3-11e7-9a4f-418f60705919.png)

[2018-01-15 15:10] #8 closed, assigned to nobody

[2018-01-15 20:53] rex4539 commented on #7
Just tried the precompiled binary but doesn't work either.

[code]

Looking forward to the patches :)

[2018-01-16 18:27] kozyilmaz commented on #7
This is the `clock_gettime` fix: https://github.com/kozyilmaz/zcash-apple/commit/2b9626ab953b75d7c379417a130c3cad230c298c
This function is introduced in macOS 12 SDK so it fails if binary is run on previous releases.

I also uploaded a build here (out.zip), can you please test it on your older macOS machine?
Thanks a lot for extensive testing :) and sorry for the trouble
[out.zip](https://github.c

[2018-01-16 22:14] rex4539 commented on #7
Just tried it but zcashd doesn't launch.

There is no error message.

The daemon just doesn't start.

Nothing is logged in debug.log either. Strange.

[2018-01-17 08:00] kozyilmaz commented on #7
@rex4539 This is strange, `zcashd` is dependent only to native macOS C++ stdlib implementation and C runtime. In any case I decided to implement a dual build mode to take care of earlier machines:

**Step 1**
By default build system will check `clang` version. If clang is more recent than the initial Xcode 9 compiler then `clang` will be used. If not, build system will spit out why it cannot conti

[2018-01-20 20:05] Tomas-M opened #10 "How to debug"
Hello,
when I run make, it works for about 30 minutes, builds all tools, and then fails with simple one line error, like [build] Error 1

Is there any way I could see logs, or enable debug output? So I could see where is it failing. Thank you

[2018-01-20 21:23] kozyilmaz commented on #10
Sure, you can try
`$ PRINT_DEBUG=y make all`

[2018-01-20 21:34] Tomas-M commented on #10
Awesome, thank you, maybe this should be documented in the readme. Closing ticket :)

[2018-01-20 21:36] kozyilmaz commented on #10
Exactly @Tomas-M, will be closing this issue with that commit.
Are you able to solve it?

[2018-01-20 21:53] kozyilmaz commented on #10
Added debug info command to README: https://github.com/kozyilmaz/zcash-apple/commit/70b0ca2b6855093611195e9dd57abb28f96dccaa

[2018-01-20 21:54] Tomas-M commented on #10
Yes it works. Thank you!

[2018-01-20 21:56] #10 closed, assigned to nobody

[2018-01-26 03:41] masterdragon69 opened #11 "blockchain sync question and version"
Is there a way to speed up the blockchain sync? its terribly slow and im wiating on coin. The commands also did nothing and im running the 0.44 beta any tips?

[2018-01-26 08:06] kozyilmaz commented on #11
There is no 0.44 beta release for this project, is it possible that you are mistaken with another zcash project?
In any case [this discussion](https://bitcointalk.org/index.php?topic=2053708.0) suggests using `dbcache` parameter to speed up sync. It is in MB so for a 1GB cache:
`$ zcashd -dbcache=1000`

Let me know if that helps;

[2018-02-02 23:35] rex4539 opened #12 "Build fails on Xcode 9.3"
[config.log](https://github.com/kozyilmaz/zcash-apple/files/1691138/config.log)

[code]

[code]

[2018-02-09 07:46] bdbabiak commented on #12
Yes, same for me. MacOS Sierra 10.13.3

Everything fine up to here:

`ash-apple/tools/o/share/libtool/lt__argz.c'
 /usr/local/bin/ginstall -c -m 644 './libltdl/lt__dirent.c' '/Users/brianbabiak/zcash-apple/tools/o/share/libtool/lt__dirent.c'
 /usr/local/bin/ginstall -c -m 644 './libltdl/lt__strl.c' '/Users/brianbabiak/zcash-apple/tools/o/share/libtool/lt__strl.c'
 /usr/local/bin/ginstall -c -m 644

[2018-02-10 10:32] kozyilmaz commented on #12
sorry for no feedback so far guys, I am swamped right now but will be looking into it in a week

[2018-02-10 10:33] kozyilmaz commented on #11
@masterdragon69 did `dbcache` option helped? Can I close this?

[2018-02-19 05:15] rex4539 commented on #12
After your latest commits, it now fails here:

[code]

[2018-02-19 20:44] kozyilmaz commented on #12
@rex4539 is this 1.0.14 or bleeding edge? Are you using Xcode 9.2 or Xcode 9.3 beta?

[2018-02-19 21:54] rex4539 commented on #12
As per title of this report, Xcode 9.3 :)

Indeed, the last error message was from master.

Just tried with 1.0.14 and still fails with ```clang: error: argument unused during compilation: '-pie' [-Werror,-Wunused-command-line-argument]```

[2018-02-20 01:49] kwccoin opened #13 "I come to here to create a local wallet and private address, may I ask how"
Whilst the system is sync its node for the day in my mac, may I ask this newbie issue.

I was directed to here by zcash site about creating wallet.  Seems not sure how to do it.

Any instruction in the readme would be nice to sync with the zcash site (even though you are not associated with it).

Many thanks in advance.

[2018-02-20 10:40] kwccoin commented on #13
Saw this ... https://github.com/zcash/zcash/wiki/1.0-User-Guide
May be a link to it and resolve the issue.

Still do not understand the implication of tAddr generation and wallet and private key ... very odd.   Need more time or some expert explain to me.  There seems to be no wallet.

[2018-02-24 15:18] kwccoin commented on #13
After going through a few day, I still do not get the zcash.

In the main user guide, it stop at creating and listing tAddr but receiving zcash is not covered but only zAddr which only 1 exchange support.  Hence a lot of basic is missing.

One example is here: https://forum.z.cash/t/correctly-sending-zec-from-t-address-to-another-t-address/5081/2 but not sure it is correct

Asking question in stac

[2018-02-25 06:55] kozyilmaz commented on #13
hey @kwccoin I am not sure what you are looking for but here is a list of functions you can use with zcash command line (`zcash-cli`). You had to have a sync'd, running `zcashd` at the same time, so open a terminal, run `zcashd` and wait until it is sync'd first.

[code]

[2018-02-25 08:55] rex4539 commented on #12
@kozyilmaz Any hope for a quick fix?

1.0.15 is being released tomorrow.

Would love to be able to compile Zcash again :)

[2018-02-25 17:53] kozyilmaz commented on #12
@rex4539 check out my master, should be working with 1.0.15-rc1 (at least it works on my machine). Let me know if it fails.

[2018-02-25 18:05] #11 closed, assigned to nobody

[2018-02-25 18:42] rex4539 commented on #12
@kozyilmaz Woohoo! It compiled :)

Thanks once again. You made my day!

[2018-02-25 18:42] #12 closed, assigned to nobody

[2018-02-25 21:55] rex4539 commented on #7
Latest master fails with

[code]

[2018-02-25 22:01] kozyilmaz commented on #7
@rex4539 this is a relatively old version of clang right? (still using clang-800.0.42.1?). It can't build libsnark unfortunately. The only way to build zcash on macOS 10.11 or before is using gcc. (actually Xcode 9 is the key dependency here)

[2018-02-25 22:10] rex4539 commented on #7
I guess it's not worth losing time on supporting this.

I'll close it.

[2018-02-25 22:10] #7 closed, assigned to nobody

[2018-02-26 05:45] kwccoin commented on #13
Great.  That is what I looking for a tutorial for newbie.  Already mining some in slush and hence need to find an address to send it to.  Thanks again!!!!!

[2018-02-26 05:45] #13 closed, assigned to nobody

[2018-02-27 04:32] alchemydc opened #14 "Build fails on OSX 10.12.6"
`Making all in src
/Users/dc/Projects/zcash-apple/zcash/zcash_v1.0.15-rc1/depends/x86_64-apple-darwin16.7.0/share/../native/bin/ccache /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang++ -mmacosx-version-min=10.8 -stdlib=libc++ -std=c++11 -DHAVE_CONFIG_H -I. -I../src/config   -fPIC -DBINARY_OUTPUT -DCURVE_ALT_BN128 -DBOOST_SPIRIT_THREADSAFE -DHAVE_BUILD_I

[2018-02-27 04:45] alchemydc commented on #14
Looks like old Xcode (v8.2.1) can't build libsnark.  Closing.  Will try newer Xcode.

[2018-02-27 04:45] #14 closed, assigned to nobody

[2018-03-02 12:49] Tomas-M opened #15 "zcash 1.0.15"
Zcash 1.0.15 is released. I think you are in sync with 1.0.15-rc1 already, so making a release for 1.0.15 should be possible, right? Thank you

[2018-03-02 18:25] kozyilmaz commented on #15
No problem, released v1.0.15a:
https://github.com/kozyilmaz/zcash-apple/releases/tag/v1.0.15a

[2018-03-02 19:05] andrerfneves commented on #5
Apologies for hopping onto an old issue, but I'm currently working on an interface for the ZCash daemon. I should be able to use any RPC lib that handles ZCash/Bitcoin correct? Something like https://github.com/montyanderson/stdrpc? keep up the good work @kozyilmaz!

[2018-03-02 19:07] radix42 commented on #5
Yes but only transparent zcash transactions

On Fri, Mar 2, 2018 at 12:06 PM André Neves <notifications@github.com>
wrote:

[2018-03-02 19:17] andrerfneves commented on #5
@radix42 that's what I read too. Thanks. There are not many ports of the ZCash API are there? Haven't been able to find many.

[2018-03-05 11:25] #15 closed, assigned to nobody

[2018-03-05 11:43] Tomas-M commented on #15
It worked, I forgot to inform you.
Thank you very much for maintaining this project, it is very useful! :)

[2018-03-05 11:59] kozyilmaz commented on #15
@Tomas-M no worries :) glad you are using it!

[2018-03-07 19:42] rex4539 opened #16 "Building master fails"
After the commits made in zcash master in the last couple of days, build fails.

[code]

[2018-03-07 20:19] kozyilmaz commented on #16
@rex4539 most probably, makefile couldn't apply this patch due to changed codebase. Can you try applying it manually?
https://github.com/kozyilmaz/zcash-apple/blob/master/zcash/patches/017-zcash-macos-no-werror.patch

[2018-03-07 21:28] rex4539 commented on #16
Now fails with

[code]

[2018-03-07 22:02] kozyilmaz commented on #16
@rex4539 these are the issues that are already addressed with my patchsets, probably new changes create conflicts so they are not applied properly. Let me look into it and update them.

[2018-03-08 07:10] kozyilmaz commented on #16
Hey @rex4539 I created a special branch for you :) It points to master and patches are updated
https://github.com/kozyilmaz/zcash-apple/tree/rex4539

[2018-03-08 08:12] rex4539 commented on #16
Compiled, thanks!

[2018-03-08 08:12] #16 closed, assigned to nobody

[2018-03-31 05:42] rex4539 opened #17 "Build fails after latest commit in master"
Hi @kozyilmaz

Looks like the latest commit in master broke the build.

Using the `rex4539` branch you created for me.

Hope it's an easy fix :)

[code]

[build.log](https://github.com/kozyilmaz/zcash-apple/files/1865192/build.log)

[2018-04-03 15:42] kozyilmaz commented on #17
@rex4539 sorry for the delay, can you give it a try?
`enable-werror` in build script is causing a lot of trouble for macOS and this is the first one. I removed `enable-werror` but also I'll go over all warnings and submit PR's along the way.

[2018-04-03 16:58] rex4539 commented on #17
Compiled! Thanks again :)

[2018-04-03 16:58] #17 closed, assigned to nobody

[2018-04-05 02:09] yyyfor opened #18 "build failed"
failure logs:

configured to support archs: armv6 armv7 armv7s arm64 i386 x86_64 x86_64h armv6m armv7k armv7m armv7em (tvOS)
LTO support using: LLVM version 9.1.0, (clang-902.0.39.1) (static support for 21, runtime is 21)
TAPI support using: Apple TAPI version 9.1.0 (tapi-902.0.9)
+ HOST=x86_64-apple-darwin17.5.0
+ BUILD=x86_64-apple-darwin17.5.0
+ NO_RUST=
+ NO_PROTON=--enable-proton=no
+ make -j

[2018-04-05 13:56] kozyilmaz commented on #18
@yyyfor weird, it looks like a permission issue. Can you try again with a fresh clone with logs on:
`PRINT_DEBUG=y make all`

[2018-04-08 16:10] yyyfor commented on #18
@kozyilmaz Sorry for the late reply. i retried make for several times until it success. Everytime console appears different errors, no idea what was going on but it works now. Thanks

[2018-04-14 16:44] rex4539 opened #19 "Produce precompiled 1.1.0 binary"
https://github.com/zcash/zcash/releases/tag/v1.1.0

1.1.0 has been released.

Please produce a precompiled binary to make it easier for those who are unable to compile locally.

Whenever you have some free time :)

[2018-04-15 09:16] rex4539 opened #20 "edge branch fails due to removal of --disable-libs"
Fails because `--disable-libs` has been removed by https://github.com/zcash/zcash/pull/3153

Removing `--disable-libs` from makefile it then fails with:

[code]

[2018-04-15 21:27] kozyilmaz commented on #20
`edge` branch should work now, tested with https://github.com/zcash/zcash/commit/312f70091bfccb6f61c600bc3b4cb92d6d59e1d8

[2018-04-15 22:04] kozyilmaz commented on #19
Thanks for the heads up! Released:
https://github.com/kozyilmaz/zcash-apple/releases/tag/v1.1.0a

[2018-04-15 22:04] kozyilmaz commented on #18
Not at all, feel free to ping me if you have more issues.

[2018-04-15 22:04] #18 closed, assigned to nobody

[2018-04-15 22:05] rex4539 commented on #19
🥇

[2018-04-15 22:05] #19 closed, assigned to nobody

[2018-04-15 22:49] rex4539 commented on #20
Compiled :)

[2018-04-15 22:49] #20 closed, assigned to nobody

[2018-04-20 10:28] Cyclenerd opened #21 "Build failed"
I am having trouble compiling the current build.

Output:

[code]

My system:

[code]

Ask for help and tips. Many Thanks.

[2018-04-20 10:33] kozyilmaz commented on #21
Hey @Cyclenerd, do you have `brew` installed? Is it possible for you to try without it?

[2018-04-20 11:24] Cyclenerd commented on #21
I have MacPorts installed. This is something similar to brew. Is there any way I can keep MacPorts.

[2018-04-25 02:44] mech314 opened #22 "Build failed"
Hey, could anyone please help me here?
 CLONE      autoconf
  CONFIG     autoconf
  BUILD      autoconf
  INSTALL    autoconf
  CLONE      automake
  CONFIG     automake
  BUILD      automake
  INSTALL    automake
  CLONE      libtool
  CONFIG     libtool
  BUILD      libtool
  INSTALL    libtool
  CLONE      pkgconfig
  CONFIG     pkgconfig
  BUILD      pkgconfig
  INSTALL    pkgconfig
  CLONE

[2018-04-25 06:19] kozyilmaz commented on #21
It's creating a lot of havoc with self-compiled GNU tools, how about moving it just to try.

[2018-04-25 06:21] kozyilmaz commented on #22
It seems your Zcash version is 1.0.15, so its a bit old. Last tested version is 1.1.0, can you try with the up-to-date zcash-apple with a clean clone.

[2018-04-25 09:02] konstantn opened #23 "Error message"
sorry, I have found a solution

[2018-04-25 10:00] kozyilmaz commented on #23
`fetch-params` script can be found inside the release zip file, please run that one.

[2018-04-25 12:14] konstantn commented on #23
Please give to me the link to this zip file? I find only 006-zcash-macos-fetch.patch in zcash-apple-master.zip.

[2018-04-25 12:32] kozyilmaz commented on #23
Assuming you want a precompiled version, last release (zcash-macos-v1.1.0a.tar.bz2) is below. Please follow all the instructions there:
https://github.com/kozyilmaz/zcash-apple/releases/tag/v1.1.0a

However if you want to compile from scratch, follow build instructions:
https://github.com/kozyilmaz/zcash-apple#build-instructions
and run instructions:
https://github.com/kozyilmaz/zcash-apple#run-in

[2018-04-25 12:40] konstantn commented on #23
Thank you!

[2018-04-25 12:49] Cyclenerd commented on #21
Homebrew autoconf and automake is no longer used. Unfortunately, I still get the same error.

Here are a few details. Any ideas?
[code]

[2018-04-25 13:58] kozyilmaz commented on #21
Thanks for the information, I think configure still thinks its a GNU iconv, anyway can you please execute these commands and paste the output:

[code]

and the output of this command on top level
[code]
and can you please make the change below in this file `tools/pkgconfig/Makefile` and try again. Appreciate if you paste the output

[code]

[2018-04-25 18:11] mech314 commented on #22
It worked thank you!
One more question, does this wallet download entire zcash block chain?

[2018-04-26 09:36] Cyclenerd commented on #21
I agree with you. Something else from `/opt` has to be used. If I rename the folder temporarily, everything is compiled.

[code]
With adjusted Makefile, the same error comes.

[2018-04-27 07:51] konstantn commented on #23
This program will have a graphic cover?

[2018-04-27 09:00] kozyilmaz commented on #23
If you are asking about the GUI, no, there is none it is a command line program. This repository started as an effort to upstream macOS support and we are approaching near the end, maybe in the future

[2018-04-27 09:05] kozyilmaz commented on #21
Unable to find why autotools are confused yet, but it detects `/opt/local/lib/libiconv.dylib` but tries to link with `/usr/lib/libiconv.dylib`

Can you try this one?
[code]

[2018-04-27 09:06] kozyilmaz commented on #22
Sorry for my late response, yes, it does download the entire blockchain and you also have to download the Sprout keys to create z-transactions.

Closing now, please re-open if you have any other issues!

[2018-04-27 09:06] #22 closed, assigned to nobody

[2018-04-27 09:22] konstantn commented on #23
I have install vaklinov/zcash-swing-wallet-ui and everything works.

[2018-04-27 09:34] kozyilmaz commented on #23
Keep in mind it is deprecated! See the notice below:

SECURITY WARNING: As of January 2018 this software wallet is not actively maintained. It may not operate properly with the upstream core/node implementation and it may contain security and/or other vulnerabilities. It is deprecated and should not be used in production!

[2018-04-27 09:41] konstantn commented on #23
That is at the moment this application can't be started? Or he needs to be removed?

[2018-04-27 09:45] kozyilmaz commented on #23
I am not sure what the effects would be, it may start and misbehave at another stage, so in general it seems deprecated so I don't recommend it.

[2018-04-27 09:49] konstantn commented on #23
Means not necessarily to delete him, and it is enough not to start until it is supported again?

[2018-04-27 09:56] kozyilmaz commented on #23
Yes

[2018-04-27 16:27] Cyclenerd commented on #21
With the change the error still appears :(

[2018-05-30 06:30] rex4539 opened #24 "Add precompiled zcashd 1.1.1 binaries"
https://github.com/zcash/zcash/releases/tag/v1.1.1

Hopefully, this is the last time that it's required as macOS support is almost there. Basically, you just need to remove `--enable-werror` from build.sh and it builds directly from source.

[2018-06-05 08:28] kozyilmaz commented on #24
Precompiled v1.1.1 binaries are here: https://github.com/kozyilmaz/zcash-apple/releases/tag/v1.1.1a

[2018-06-05 08:29] #23 closed, assigned to nobody

[2018-06-05 09:04] #24 closed, assigned to nobody

[2018-06-08 15:33] timxor opened #25 "testnet-support"
add support for zcash testnet. Normally you modify ```zcash.conf``` with
[code]
I did that at ```~/Library/Application Support/Zcash/zcash.conf```  then restarted it and it looks like it is still on mainnet.

[2018-06-08 15:44] kozyilmaz commented on #25
Hi @tcsiwula, I haven't tried testnet before but but maybe testnet parameter should be "1".
I checked it from here: https://github.com/zcash/zcash/wiki/1.0-User-Guide#configuring-for-testnet

[2018-06-08 18:05] timxor commented on #25
Thanks will try that and send a pr once i figure it out :)

On Jun 8, 2018, at 10:44 AM, Kazım Özyılmaz <notifications@github.com> wrote:

Hi @tcsiwula, I haven't tried it myself testnet before but but maybe testnet parameter should be "1".
I checked it from here: https://github.com/zcash/zcash/wiki/1.0-User-Guide#configuring-for-testnet

—
You are receiving this because you were mentioned.
Reply

[2018-06-11 22:34] timxor commented on #25
Hello @kozyilmaz , I got it to work and updated the docs for test network support. Pull request is here https://github.com/kozyilmaz/zcash-apple/pull/26

[2018-06-17 12:45] zpatshueh commented on #21
I am having the same issue as above... any solution?!

[2018-06-27 03:35] GratefulDave opened #27 "Build Fail"
I am totally new 'attempting' to code. I know this is not even coding. I do not even know the right questions to ask.

Can anybody please tell me the right questions to ask or what to look for?

davidandrews:zcash-apple david_s_andrews$ PRINT_DEBUG=y make all
  CLONE      autoconf
  CONFIG     autoconf
  BUILD      autoconf
  INSTALL    autoconf
make -C autoconf-"2.69" install
/Applications/Xcode.

[2018-06-27 19:51] kozyilmaz commented on #27
Hi @GratefulDave do you have `brew` or `macports` installed, is it possible for you try without it? There is a similar open issue that is not resolved yet (https://github.com/kozyilmaz/zcash-apple/issues/21).

[2018-06-30 14:25] GratefulDave commented on #27
Thank you. I uninstalled mac ports. Need to figure out how to disable from cmd line in Apple Terminal. :) Baby steps!

[2018-06-30 14:25] GratefulDave commented on #27
closed

[2018-06-30 14:25] #27 closed, assigned to nobody

[2018-06-30 15:05] GratefulDave opened #28 "Can't find output files"
I successfully built the Zcash-Apple wallet but do not have a directory out/usr/local/bin on my computer. I have:

Zcash-fetch-params.1 Does the .1 mean that it is for version 1.1?

Zcash-init This is in a completely different directory.

Zcashhd is nowhere to be found on my computer.

[2018-06-30 15:08] GratefulDave commented on #28
And when I do ty to run zcash-fetch-params.1 I get permission denied. I can figure out how to change the permission if required but I do not understand what is going on.

[2018-06-30 15:34] kozyilmaz commented on #28
Hi @GratefulDave , there should be a directory named `out` in the top project directory. All the binaries and scripts are inside it, can you verify its there?

[2018-06-30 15:36] GratefulDave commented on #28
@kozyilmaz No /out directory. Here is what I have.
<img width="1043" alt="screen shot 2018-06-30 at 11 37 03 am" src="https://user-images.githubusercontent.com/10969727/42126707-fdd32288-7c59-11e8-9810-44c9e8a734f2.png">

[2018-06-30 21:25] kozyilmaz commented on #21
Hey @Cyclenerd @zpatshueh!
Can you give it another shot with the latest `master`? Thanks!

[2018-06-30 21:31] kozyilmaz commented on #28
@GratefulDave sorry but it seems `zcash` is not built yet. Is it possible that you run `make all` under `tools` instead of `zcash-apple`?

[2018-07-01 13:41] Cyclenerd commented on #21
Works for me. Thank you 👍

[2018-07-01 13:54] kozyilmaz commented on #28
@GratefulDave may I ask you to try with latest `master` from scratch? I fixed the first issue that you opened in the meantime.

[2018-07-01 17:28] kozyilmaz commented on #25
Thanks again, merged!

[2018-07-01 17:28] #25 closed, assigned to nobody

[2018-07-01 17:30] GratefulDave commented on #28
@kozyilmaz

  CLONE      autoconf
  CONFIG     autoconf
  BUILD      autoconf
  INSTALL    autoconf
make -C autoconf-"2.69" install
/Applications/Xcode.app/Contents/Developer/usr/bin/make  install-recursive
Making install in bin
test -z "/Users/david_s_andrews/documents/GitHub/zcash-apple/tools/o/bin" || ../build-aux/install-sh -c -d "/Users/david_s_andrews/documents/GitHub/zcash-apple/tools/o/bin

[2018-07-01 17:39] kozyilmaz commented on #28
@GratefulDave this build tree does not seem to be clean. Possibly you'll see files like `.cloned`, `.configured` or `.built` in package directories. Can you please do a fresh clone like this and send me the output:
[code]
Sorry for the trouble.

[2018-07-02 01:01] zpatshueh commented on #21
Hi Kazim,

Its showing me a different error now.. looks like i am missing a header
file? any pointer?

In file included from libs/thread/src/future.cpp:6:

In file included from ./boost/thread/detail/config.hpp:11:

In file included from ./boost/config.hpp:57:

In file included from ./boost/config/platform/macos.hpp:28:

./boost/config/detail/posix_features.hpp:18:15: fatal error: 'unistd.h'
file

[2018-07-02 06:42] zpatshueh commented on #21
$ xcrun --sdk macosx --show-sdk-version

10.13

On Mon, Jul 2, 2018 at 4:40 PM Kazım Özyılmaz <notifications@github.com>
wrote:

--

Pat Shueh
Director, PreSales - Asia Pacific & Japan
M (+61) 416 139 693
M (+65) 9788 9460
https://blog.zimperium.com/
www.zimperium.com

[2018-07-02 06:42] kozyilmaz commented on #21
Hi @zpatshueh, did you run the build command on an existing (possibly failed) installation. I changed something that may affect all the package at `configure` level so can you please start a clean build and let me know the output? Sorry for the trouble:
[code]

[2018-07-03 18:32] GratefulDave commented on #28
Thanks. I needed to install WGET and it worked.

rpcuser=username
rpcpassword=`head -c 32 /dev/urandom | base64`

The /dev/urandom | base 64 appears to be creating a random password. Is this created the first time the file is run and saved in the config file or does it change each time? It would make more sense for it to remain the same. I just wanted to understand.

Obviously I could use any user

[2018-07-03 19:11] kozyilmaz commented on #28
@GratefulDave `wget` should not be needed, what was the error you encountered? The reason of the existence of this project is being self contained on macOS.

If you followed run instructions (https://github.com/kozyilmaz/zcash-apple#run-instructions) the rpcpassword part is already taken care of by `zcash-init` (created randomly and written to zcash.conf once, used without change afterwards). The

[2018-07-03 20:59] GratefulDave commented on #28
The error was it required ipfs, wget, or curl. I have curl.

I did the instructions and previously you had:

rpcuser=username
rpcpassword=head -c 32 /dev/urandom | base64

instead of:

rpcuser=SOME_USERNAME
rpcpassword=SOME_PASSWORD

I wanted to understand exactly what is going on because I am very new.

[2018-07-03 21:06] GratefulDave commented on #28
And there is no zcash.conf file on my computer except the standard one in examples.

[2018-07-03 21:07] kozyilmaz commented on #28
@GratefulDave no worries :)

If you follow the `run instructions` (https://github.com/kozyilmaz/zcash-apple#run-instructions)
[code]

The `zcash-init` command that you run once at the installation, actually created a random password for you (see the rpcpassword line) and afterwards you may only run `zcashd`
[code]

[2018-07-03 21:10] kozyilmaz commented on #28
@GratefulDave just run the command below on your Terminal to see contents of your `zcash.conf` file, if you didn't follow the `run instructions`please follow them first (you are using mainnet of course).
[code]

[2018-07-03 21:30] GratefulDave commented on #28
@kozyilmaz Thank you for being patient with me. I have a few questions:

If I understand correctly testnet is a sandbox and mainnet is the live chain. I did run the testnet first and the mainnet second. I am not sure how that affects the installation. If I am (obviously) not developing and only using mainnet should I just re-initialize with mainnet?

Is it correct to infer that I should only be ru

[2018-07-03 22:01] kozyilmaz commented on #28
@GratefulDave actually you didn't initialize with testnet. By running `./zcash-fetch-params`  and `./zcash-fetch-params --testnet` commands you just downloaded additional data (params) both for mainnet and testnet.

Unless you specifically enabled testnet in your `zcash.conf` like below, you didn't download a single testnet block yet.
[code]

And even if you do that, you can safely remove those th

[2018-07-04 06:02] rex4539 opened #29 "Produce precompiled binaries for 1.1.2"
https://github.com/zcash/zcash/releases/tag/v1.1.2

Thanks!

[2018-07-04 10:45] kozyilmaz commented on #29
Like a clock @rex4539. You may find the precompiled Zcash v1.1.2 binaries here:
https://github.com/kozyilmaz/zcash-apple/releases/tag/v1.1.2a

One last pull request is pending (https://github.com/zcash/zcash/pull/3371) after that there will be no Zcash patches for the code itself (but maybe for tools, we'll see)

[2018-07-04 10:53] #29 closed, assigned to nobody

[2018-07-04 11:09] kozyilmaz commented on #28
Hey @GratefulDave, is everything clear, can I close this issue?

[2018-07-04 11:10] kozyilmaz commented on #21
Hi @zpatshueh are you able to try it with a clean build? I released the v1.1.2 today. If it works just let me know so I can close this issue.
Thanks!

[2018-07-04 11:16] #28 closed, assigned to nobody

[2018-07-05 12:16] GratefulDave opened #30 "Tried Again"
@kozyilmaz Hi, I tried to reinstall from scratch. It does not create /out directory.

[2018-07-05 12:27] kozyilmaz commented on #30
Hi @GratefulDave, can you provide the output logs if you followed the steps?
[code]

[2018-07-05 18:10] GratefulDave commented on #30
@kozyilmaz worked perfectly this time. Am I able to randomly change the username and password or are they now immutable?

[2018-07-05 19:35] kozyilmaz commented on #30
The username and password (assuming you are talking about the ones in `zcash.conf`) are only to be used for securing RPC calls, thats all. You can change username and password or recreate `zcash.conf` anytime you like. The only thing you have to be careful is if you are using a program using RPC interface to call functions from `zcashd`, correct username and password are needed.

[2018-07-07 01:06] GratefulDave commented on #30
@kozyilmaz What's the CLI to turn the node off?

[2018-07-17 00:08] goofmd opened #31 "zcash.conf settings not taking..."
Newbie alert....

Running zcashd from out/usr/local/bin... and installed zcash.conf with testnet enabled in Application Support/Zcash folder... But - testnet renames disabled despite enabling (and removing #).

So... what are reasons the .conf file isn't being recognized despite comment character being removed for testnet=1?

Output of getmininginfo:

{
  "blocks": 179264,
  "currentblocksize": 0,

[2018-07-25 20:50] andrerfneves commented on #31
Facing similar issue. Seems like the default zcash.conf file is not being taken into account. In the meantime you can run `./zcashd --help` to see all available parameters/flags you can pass. It's essentially the same as the info in your zcash.conf file. There's a `-conf=FILE` param that you can try. Or you can pass the parameters directly on the CLI (which definitely works)

[2018-07-28 00:05] goofmd commented on #31
Thanks so much! Will try!

[2018-08-06 10:19] kozyilmaz commented on #31
Hi @goofmd  @andrerfneves sorry that it took me so long to respond.
I tried to reproduce the issue but everything seems to work alright. If I add `testnet=1` to zcash.conf in `$HOME/Library/Application\ Support/Zcash/zcash.conf ` like below:

[code]

`zcashd` starts syncing with testnet:
[code]
Anything that I miss?

[2018-08-06 10:19] kozyilmaz commented on #30
@GratefulDave just re-open the case if you have any questions

[2018-08-06 10:19] #30 closed, assigned to nobody

[2018-08-06 10:20] kozyilmaz commented on #21
Confident that this issue is fixed :)

[2018-08-06 10:20] #21 closed, assigned to nobody

[2018-08-06 20:37] andrerfneves commented on #31
Hmm, not sure @kozyilmaz. Going to try building it in my machine instead of just taking the binaries themselves. I'll report back. Thanks for the response.

[2018-08-10 16:14] zmitton opened #32 "upgrade path to 1.1.0"
My client refuses to run until upgrade 1.1.0 is installed. I pulled the changes, and tried to rebuild however I get this error from `$ PRINT_DEBUG=y make all` :

[code]
I could do a fresh install but I'm not sure how to save the chain data (so I dont have to sync for another 3 days) and my wallet/keys

[2018-08-10 19:16] kozyilmaz commented on #32
Hi @zmitton;

You don't have to worry about chain data (unless you are wiping the machine) as far as I can tell, below are the storage directories. You can just upgrade the `zcashd` daemon version and simply run it.

Here is the stored blockchain
[code]
Here are the params used in creation of shielded txs
[code]

I recommend using a precompiled version or doing a clean build (fresh clone and make

[2018-08-15 09:00] jamesstout opened #33 "tools build fails when ftp.gnu.org is down"
ftp.gnu.org is [currently down](http://isup.me/ftp.gnu.org) so a clean build of tools fails:

[code]

A bit of network analysis [here](https://gist.github.com/jamesstout/cc0aaf9401a8523b51c95f83f2f10f97). Site is down and also maybe one of the name servers.

Is there any downside to changing the hostname to the generic GNU mirror address as suggested [here](https://www.gnu.org/server/mirror.html)?

[2018-08-15 10:07] kozyilmaz commented on #33
Hi @jamesstout, thank you for pointing out the correct way to do it. I already updated the [edge branch](https://github.com/kozyilmaz/zcash-apple/tree/edge) and attached the patch [ftpgnu-master.diff.txt](https://github.com/kozyilmaz/zcash-apple/files/2289883/ftpgnu-master.diff.txt) for the master branch for the time being.

Please rename the attached file  to `ftpgnu-master.diff` and patch `zcash

[2018-08-15 10:21] jamesstout commented on #33
Thanks v. much.

[2018-08-17 15:07] kozyilmaz commented on #33
`master` branch fixed with https://github.com/kozyilmaz/zcash-apple/commit/66110330075aa3a46701d9a2ecd9bd10085eae1e , closing!

[2018-08-17 15:07] #33 closed, assigned to nobody

[2018-08-19 02:58] andrerfneves commented on #31
@kozyilmaz my zcash.conf file was in the incorrect folder. I had the original file at `$HOME/Library/Application\ Support/Zcash/zcash.conf` but was looking at my file at `/Library/Application\ Support/Zcash/zcash.conf`. It's all working great. Go ahead and close this. Cheers

[2018-08-19 11:05] kozyilmaz commented on #31
@andrerfneves thanks for the update, closing!

[2018-08-19 11:05] #31 closed, assigned to nobody

[2018-09-21 06:58] kozyilmaz commented on #32
closing

[2018-09-21 06:58] #32 closed, assigned to nobody

[2018-09-24 02:12] kode54 commented on #21
Experiencing this issue with a fresh checkout today, using Xcode 10.

https://gist.github.com/kode54/c41a2dae475d06af458561f77d654c06

Same missing unistd.h when building boost.

[code]

[2018-09-25 15:28] fgonza2 opened #34 "How to import private keys"
Is there a way to import private keys from another wallet?

[2018-10-12 07:06] Icetter opened #35 "Error"
Hello.

I'm faced with such issue while trying to install the wallet:

  CLONE      zcash
  CONFIG     zcash
  BUILD      zcash
make[1]: *** [build] Error 1
make: *** [zcash_all] Error 2

Every time the same issue. The git cloned without errors.

[2018-10-12 07:28] Icetter commented on #35
CLONE      zcash
  CONFIG     zcash
  BUILD      zcash
( cd zcash_v1.1.1; \
		LIBTOOLIZE=glibtoolize ./zcutil/build.sh -j 4; \
	)
+ LCOV_ARG=
+ HARDENING_ARG=--enable-hardening
+ TEST_ARG=
+ '[' x-j = x--enable-lcov ']'
+ '[' x-j = x--disable-tests ']'
+ MINING_ARG=
+ '[' x-j = x--disable-mining ']'
+ PROTON_ARG=--enable-proton=no
+ '[' x-j = x--enable-proton ']'
++ pwd
+ PREFIX=/Users/Iceman/zcas

[2018-10-12 07:30] Icetter commented on #35
Looks like it trying to create v1.1.1, but not 2.0.0? Why?

[2018-10-15 07:28] kozyilmaz commented on #35
Is it possible that you are stuck in a branch? Because up-to-date tree points to Zcash v2.0.0.
Can you try doing a clean clone?

[2018-10-15 07:32] Icetter commented on #35
Thanks for the answer. I'm newbie in that. Should I delete all files from ~/zcash-apple/ ? Or need to do anything else?
After that I should do again?
$ git clone https://github.com/kozyilmaz/zcash-apple.git
$ cd zcash-apple
$ source environment
$ make

[2018-10-15 07:36] kozyilmaz commented on #35
Yes, just remove the `zcash-apple`folder, you can alternatively use the commands below to see error logs
[code]

You don't need to touch the chain data or parameter files in:
[code]

[2018-10-15 07:49] kozyilmaz commented on #34
Oh very sorry for my late response @fgonza2
Would this API help? Probably key should be in `WIF (wallet import format)`

[code]

[2018-10-15 11:19] kozyilmaz commented on #35
Hi @Icetter , are you using Mojave? This seems related https://github.com/zcash/zcash/issues/3603

[2018-10-15 13:00] Icetter commented on #35
Completed with the same error, but now it is in a chain v2.0.1

[code]

[2018-10-15 13:02] Icetter commented on #35
Yes, Mojave.

[2018-10-15 13:25] Icetter commented on #35
Manually installed CommandLineTools MacOs 10.14. No changes.

[2018-10-15 13:26] kozyilmaz commented on #35
There might be a workaround, quoting the Zcash issue https://github.com/zcash/zcash/issues/3603 here:

As per the discussion on the Bitcoin thread running open `/Library/Developer/CommandLineTools/Packages/macOS_SDK_headers_for_macOS_10.14.pkg` fixes the issue and it builds correctly. See also https://developer.apple.com/documentation/xcode_release_notes/xcode_10_release_notes.

[2018-10-15 13:27] kozyilmaz commented on #35
Ah, so the workaround didn't work? I use 10.13 with Xcode 10 and I am unable to observe it. I'll update a machine to Mojave as soon as possible.

[2018-10-15 13:38] kozyilmaz commented on #35
Btw, you may use just released, precompiled v2.0.1 version if you like https://github.com/kozyilmaz/zcash-apple/releases/tag/v2.0.1a

[2018-10-15 15:47] Icetter commented on #35
Something wrong with me)
zcashd started and stoped after 4 seconds with error:

[code]

[2018-10-15 16:14] kozyilmaz commented on #35
Hmm @Icetter, confused now! Mine is running for the last four hours so this may be Mojave issue.
Sorry the trouble but if any of the older releases works for you, use it until I install Mojave to one of my machines.

[2018-10-16 01:22] Icetter commented on #35
Thank you very much. I'll better wait.

[2018-10-31 02:52] Icetter commented on #35
Hi @kozyilmaz, update today command line tools and now it's installed without errors.

But after starting zcashd I see the same error:

Assertion failed: (hashPrevBlock == view.GetBestBlock()), function ConnectBlock, file main.cpp, line 2415.
Abort trap: 6
logout

[2018-10-31 14:13] kozyilmaz commented on #35
@Icetter that is weird, maybe a problem with chain sync. If you haven't used the wallet before, have zero coins, basically if you do not care about the keys in that macOS installation just remove this folder below:
[code]

This will resync.

[2018-10-31 16:41] Icetter commented on #35
@kozyilmaz I use an old version of wallet before, make backup and recreate zcash.conf as you point out. And it's work! Thank you, bro!

[2018-10-31 16:42] #35 closed, assigned to nobody

[2019-03-17 07:34] sbatururimi opened #36 "Deprecated version"
I have cloned the source code and tried to rebuild it from source but when running
[code]
I got the following error:
[code]
Any update to come as I would like to export my private keys from the previous version and seems like I'm unable to do it without running zcash-apple?

[2019-03-17 08:41] kozyilmaz commented on #36
Hi Stas;

I was being sloppy because there are good UI wallets around. I think if you install zec-qt-wallet it will work out of the box. Anyway I'll make a release this week.

K.

[2019-03-17 09:05] sbatururimi commented on #36
Thank you @kozyilmaz for the recommendation. zec-qt-wallet seems to fix the problem out of the box. This project has been amazing for a long time! Thanl you for your work!

[2022-04-05 04:43] fgonza2 commented on #34
thanks so much!

[2022-04-05 04:43] #34 closed, assigned to nobody